<h1>ユーザー一覧</h1>
<% @users.each do |user| %>
  ユーザーネーム <%= link_to user.user_name, admin_user_path(user.id) %><br>
  メールアドレス <%= user.email %><br>
  パスワード <%= user.encrypted_password %><br>
  自己紹介 <%= user.introduction %><br>
  退会ステータス
  <% if user.is_deleted == false %>
    有効<br>
  <% else %>
    退会<br>
  <% end %>
<% end %>